@use "var" as v;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: v.$poppins;
  background: linear-gradient(to top, v.$white, v.$secondary-color);
  border-radius: 0 0 20px 20px;
  &__randomStoryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &__name {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
      border: 1px solid v.$attention-color;
      background-color: rgba(v.$light-gray, 0.8);
      h3 {
        margin: 10px;
        font-size: 32px;
        color: v.$dark-gray;
        text-align: center;
      }
    }
    &__image {
      margin-top: 1rem;
      position: relative;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ddd;
      img {
        width: 90%;
        height: 90%;
        border-radius: 50%;
        object-fit: cover;
        z-index: 2;
        margin: 0 auto;
        display: block;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
    &__image::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: var(--progress, 50%);
      background-color: v.$primary-color;
      transition: height 0.5s ease-in-out;
    }
    &__amount {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      font-size: 32px;
      margin-top: 1rem;
      h4 {
        margin: 0;
        color: v.$dark-gray;
      }
    }
    a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin-bottom: 1rem;
      div {
        color: v.$light-gray;
        font-family: v.$ibm;
        font-size: 1.5rem;
      }
    }
    a.hero__randomStoryContainer__heroButton {
      width: 100%;
      height: 3rem;
      margin-top: 1rem;
      background-color: rgba(v.$secondary-color, 0.9);

      flex-shrink: 0;
      border: 1px solid v.$dark-gray;
      border-radius: 5px;
      div {
        font-size: 1.5rem;
        color: v.$dark-gray;
        font-family: v.$poppins;
        font-weight: 700;
      }
    }
  }
}
@media (min-width: v.$m) {
  a.hero__randomStoryContainer__heroButton {
    width: 50%;
    height: 3rem;
    margin-top: 1rem;
    background-color: rgba(v.$secondary-color, 0.9);

    flex-shrink: 0;
    border: 1px solid v.$dark-gray;
    border-radius: 5px;
    div {
      font-size: 1.5rem;
      color: v.$dark-gray;
      font-family: v.$poppins;
      font-weight: 700;
    }
  }
}
