@use "var" as v;
@use "stories" as s;
@use "nav";
@use "login";
@use "hero";
@use "navMobile";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: v.$black;
  font-family: v.$pt;
  font-size: 16px;
}

.heroBodyBreak {
  background-color: v.$secondary-color;
  padding: 1rem;
  color: v.$attention-color;
  text-align: center;
}

.mainMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
