@use "var" as v;
.navContainerMobile {
  width: 100%;
  height: 100vh;
  background-color: v.$primary-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  .menu {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 501;
    top: 0;
    left: 0;
    a {
      display: block;
      color: white;
      text-decoration: none;
      font-family: v.$ibm;
      font-size: 1.5rem;
      padding: 15px;
      text-align: center;
    }
  }
}
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: rgb(176, 148, 202);

//   .menu {
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     background-color: black;
//     position: relative; /* Ensure it stays within .navContainerMobile */
//     z-index: 1002; /* Higher than the parent */
//     a {
//       display: block; /* Makes the link behave like a block element (occupies the full width) */
//       color: white; /* Sets the text color to white for contrast against the black background */
//       text-decoration: none; /* Removes the underline by default */
//       font-size: 1.5rem; /* Adjusts the font size for better readability */
//       padding: 15px; /* Adds padding for clickable area */
//       text-align: center; /* Centers the text within the link */
//       transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
//     }

//     /* Hover effect */
//     a:hover {
//       background-color: rgba(
//         255,
//         255,
//         255,
//         0.2
//       ); /* Adds a light background on hover */
//       color: rgb(176, 148, 202); /* Changes text color on hover */
//     }
//   }
