@use "var" as v;
.story-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(v.$dark-gray, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  &__exitModal {
    position: absolute;
    top: 7px;
    right: 9px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    background-color: v.$black;
    color: v.$white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  &__exitModal:hover {
    background-color: rgba(v.$dark-gray, 0.9);
  }
  &__dialog-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    max-width: 600px;
    min-height: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
    &__story {
      &__image {
        flex-shrink: 0;
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("https://picsum.photos/300/300");
      }
      &__money {
        &__container {
          display: flex;
          gap: 15px;
          margin-top: 1rem;
        }
        &__requested_amount,
        &__remaining_amount {
          text-align: center;
          border: 1px solid v.$dark-gray;
          border-radius: 15px;
          padding: 5px;
        }
        &__collection_bar {
          width: 100%;
          height: 3rem;
          border-radius: 5px;
          border: 1px solid v.$dark-gray;
          display: flex;
          align-items: center;
          margin: 1rem 0 0 0;
          &__collected_bar {
            background-color: rgba(v.$secondary-color, 0.9);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: v.$light-gray;
          }
        }
        &__donate {
          width: 100%;
          &__container {
            display: flex;
            border: 1px solid v.$dark-gray;
            border-radius: 10px;
            padding: 15px;
            column-gap: 5px;
            &__input_name,
            &__input_donationAmount {
              width: 100%;
              display: flex;
              flex-direction: column;

              input {
                border: 1px solid v.$dark-gray;
                width: 100%;
                height: 1.5rem;
              }
            }
          }
        }
      }
      &__donations {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__container {
          display: flex;
          justify-content: space-between;
          width: 80%;
          border-bottom: 1px solid v.$dark-gray;
        }
      }
    }
  }
}

@media (min-width: v.$m) {
  .stories-list__story {
    width: 30%;
    background-color: rgba(v.$medium-gray, 0.3);
    padding: 10px;
    border: 1px solid v.$dark-gray;
    border-radius: 15px;
    &__text {
      p {
        margin: 0;
        padding-top: 1rem;
        height: 80px;
      }
    }
    .bottomButton {
      margin-top: 0;
    }
  }
}
