$pt: "PT Serif", serif;
$ibm: "IBM Plex Sans", sans-serif;
$audio: "Audiowide", sans-serif;

// Primary Colors
$primary-color: #107c41; // Dark Green (Main brand color)
$secondary-color: #00b67a; // Light Green (Accent color)

// Neutral Colors
$white: #ffffff;
$light-gray: #f7f7f7;
$medium-gray: #d9d9d9;
$dark-gray: #333333;
$black: #201520;

// Supporting Colors
$attention-color: #ffdd67; // Soft Yellow (Highlights)
$alert-color: #e60023; // Red (Warnings, Alerts)

$xl: 1200px;
$l: 992px;
$m: 768px;
$s: 420px;
$xs: 320px;
