@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$pt: "PT Serif", serif;
$ibm: "IBM Plex Sans", sans-serif;
$poppins: "Poppins", sans-serif;
$audio: "Audiowide", sans-serif;

// Primary Colors
$primary-color: #107c41; // Dark Green (Main brand color)
$secondary-color: #00b67a; // Light Green (Accent color)

// Neutral Colors
$white: #ffffff;
$light-gray: #f7f7f7;
$medium-gray: #d9d9d9;
$dark-gray: #333333;
$black: #201520;

// Supporting Colors
$attention-color: #ffdd67; // Soft Yellow (Highlights)
$alert-color: #e60023; // Red (Warnings, Alerts)

$xl: 1200px;
$l: 992px;
$m: 768px;
$s: 420px;
$xs: 320px;
